/* ========================================================================= */
/*   TYPOGRAPHY
/* ========================================================================= */

$font-base:  "Helvetica Neue", Helvetica, Arial, sans-serif;

/* ========================================================================= */
/*   COLORS
/* ========================================================================= */

$green:      #7bda3d;
$green-dark: #60c930;

$grey-border: #c4c4c4;
