/* ========================================================================== */
/*   LAYOUT HELPERS
/* ========================================================================== */

%cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

%text-link {
  color: $green-link;
  line-height: inherit;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  &:hover {
    color: $green-link-h;
    text-decoration: underline;
  }
}
