/* ========================================================================== */
/*   LAYOUT HELPERS
/* ========================================================================== */

%cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}