/* ========================================================================= */
/*   TYPOGRAPHY
/* ========================================================================= */

$font-base:  "Helvetica Neue", Helvetica, Arial, sans-serif;

/* ========================================================================= */
/*   COLORS
/* ========================================================================= */

// Solid Greens

$green-dark: #60c930;
$green:      #7bda3d;
$green-bg-h: #f5fcf1;
$geckogreen: #70cf32;

// Text Greens

$green-link:   #4cae41;
$green-link-h: #39af3f;

// Greys

$grey-border: #c4c4c4;
$grey: #e2e4e6;
