/* Button variables */
$btn-border-radius: 3px;


/* ========================================================================= */
/*   BUTTONS
/* ========================================================================= */

.button {
  @include user-select(none);
  @include linear-gradient(#f1f1f1, #e2e2e2);
  @extend %spaced-element;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  color: #555;
  vertical-align: middle;
  box-shadow: inset 0 1px 0 #fafafa;
  border: 1px solid $grey-border;
  border-radius: 3px;
  float: left;
  height: 29px;
  padding: 5px 10px 4px;
  outline: 0;
  outline: none;
  cursor: pointer;

  // Button states

  &:hover, &:focus {
    @include linear-gradient(#f4f4f4, #e5e5e5);
    text-decoration: none;
    color: #555;
    outline: 0;
    outline: none;
  }
  &:active, &.active {
    @include linear-gradient(#dadada, #e4e4e4);
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 0 rgba(#000, 0.05);
  }
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
  }
}

// Button variations

.button_primary {
  @include linear-gradient($green, $green-dark);
  color: #fff;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(#000, 0.15);
  box-shadow: inset 0 1px 0 rgba(#fff, 0.5);
  padding: 5px 10px 4px;
  &:hover, &:focus {
    @include linear-gradient($green, darken($green, 5%));
    color: #fff;
  }
  &:active, &.active {
    @include linear-gradient($green-dark, darken($green, 6%));
    color: #fff;
    box-shadow: inset 0 1px 0 rgba(#000, 0.05);
    border-color: darken($green, 20%);
  }
}

// Buttons with icons

.button > i {
  margin-right: 2px;

  // Special cases
  &.fa-caret-down {
    margin-left: 2px;
    margin-right: 0;
  }
  &.fa-trash, &.fa-trash-o {
    margin-right: 0;
  }
  &.fa-chevron-left, &.fa-chevron-right {
    font-size: 10px;
  }
  &.fa-chevron-left {
    margin-left: -1px;
    margin-right: 3px;
  }
  &.fa-chevron-right {
    margin-left: 3px;
    margin-right: -1px;
  }
}

%button_icon i {
  margin-left: 0;
  margin-right: 0;
}
.button.button_icon {
  @extend %button_icon;
}

// Button sizes

.button_large {
  font-size: 14px;
  height: 35px;
  padding: 8px 15px 7px;
}

.button_small {
  height: 24px;
  padding: 2px 8px;
}

/* ========================================================================= */
/*   BUTTON GROUPS
/* ========================================================================= */

.button-group {
  @extend %spaced-element;
  float: left;
  vertical-align: middle;
  > .button {
    border-radius: 0;
    border-right-width: 0;
    & + .button,
    &:not(.right) + .button:not(.right) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  > .button:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  > .button:last-of-type {
    border-right-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

/* ========================================================================= */
/*   INTERACTION
/* ========================================================================= */

// Spacing between buttons & groups

%spaced-element {
  &:not(.right) + &:not(.right) {
    margin-left: 10px;
  }
  &.right + &.right {
    margin-right: 10px;
  }
}

/* ========================================================================= */
/*   NEW TRADEGECKO BUTTON
/* ========================================================================= */

@mixin btn {
  font: {
    family: $titleFontFamily;
    size:   $font-size-small;
    weight: $font-weight-bold;
  }

  text: {
    align: center;
    transform: uppercase;
    shadow: none;
  }

  letter-spacing: 0.0625em;

  display: inline-block;
  padding: 10px 14px;

  border: none;
  border-radius: $btn-border-radius;

  box-shadow: none;

  .fa {
    vertical-align: middle;
  }

  .btn-icon-left {
    margin-right: 0.875em;
  }

  .btn-icon-right {
    margin-left: 0.875em;
  }

  &:hover, &:focus {
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    outline: none;
  }

  @include transition(all, 0.3s);

  &[disabled], &[disabled]:hover {
    cursor: normal;
    pointer-events: none;
    opacity: 0.7;
  }
}

@mixin btn-theme($main, $hover, $active, $border: transparent, $text: $white, $text-hover: $white) {
  color: $text;
  background: $main;
  border: 1px solid $border;

  &:hover, &:focus {
    background: $hover;
    color: $text-hover;
  }

  &:active, &.active {
    background: $active;
  }
}

.tg-btn-green {
  @include btn;
  @include btn-theme(
    $geckogreen,
    $geckogreen-dark,
    $geckogreen-dark
  );
}

.tg-btn-red {
  @include btn;
  @include btn-theme(
    $red,
    darken($red, 10%),
    darken($red, 10%)
  );
}

.tg-btn-blue {
  @include btn;
  @include btn-theme(
    $blue,
    darken($blue, 10%),
    darken($blue, 10%)
  );
}

.tg-btn-yellow {
  @include btn;
  @include btn-theme(
    $yellow,
    darken($yellow, 10%),
    darken($yellow, 10%)
  );
}

.tg-btn-grey {
  @include btn;
  @include btn-theme(
    $grey-dark-2,
    darken($grey-dark-2, 10%),
    darken($grey-dark-2, 10%)
  );
}

.tg-btn-light-grey {
  @include btn;
  @include btn-theme(
    $grey-main,
    $grey-dark,
    $grey-dark,
    transparent,
    $grey-text,
    $grey-text
  );
}

.tg-btn-disabled {
  @include btn;
  @include btn-theme(
    transparent,
    transparent,
    transparent,
    $darker-grey-text,
    $darker-grey-text,
    $darker-grey-text
  );
  border: 1px solid $darker-grey-text;
  cursor: normal;
  pointer-events: none;
}
