@font-face {
  font-family: 'TradeGecko';
  src: font-url('TradeGecko.eot');
  src: font-url('TradeGecko.eot?#iefix') format('embedded-opentype'),
    font-url('TradeGecko.svg#icomoon') format('svg'),
    font-url('TradeGecko.woff') format('woff'),
    font-url('TradeGecko.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.tg {
  display: inline-block;
  font: normal normal normal 14px/1 TradeGecko;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.tg-icon:before {
  content: "\e600";
}

.tg-box:before {
  content: "\e601";
}

.tg-dashboard:before {
  content: "\e602";
}

.tg-user:before {
  content: "\e603";
}

.tg-orders:before {
  content: "\e604";
}

.tg-purchase-orders:before {
  content: "\e605";
}

.tg-stock-control:before {
  content: "\e606";
}

.tg-reports:before {
  content: "\e607";
}

.tg-app-store:before {
  content: "\e608";
}

.tg-my-apps:before {
  content: "\e609";
}

.tg-settings:before {
  content: "\e60a";
}

.tg-lock:before {
  content: "\e60b";
}

.tg-refresh:before {
  content: "\e60c";
}

.tg-power:before {
  content: "\e60d";
}

.tg-enlarge:before {
  content: "\e60e";
}

.tg-enlarge-inverse:before {
  content: "\e60f";
}

.tg-minimize:before {
  content: "\e610";
}

.tg-minimize-inverse:before {
  content: "\e611";
}

.tg-help:before {
  content: "\e612";
}

.tg-help-inverse:before {
  content: "\e613";
}

.tg-factory:before {
  content: "\e614";
}

.tg-times:before {
  content: "\e615";
}

.tg-tick:before {
  content: "\e616";
}

.tg-left-chevron:before {
  content: "\e617";
}

.tg-right-chevron:before {
  content: "\e618";
}

.tg-shopping-cart:before {
  content: "\e619";
}

.tg-google:before {
  content: "\e61a";
}

.tg-location-picker:before {
  content: "\e61b";
}

.tg-camera:before {
  content: "\e61c";
}

.tg-thin-close:before {
  content: "\e61d";
}

.tg-thin-tick:before {
  content: "\e61e";
}

.tg-thin-caret-left:before {
  content: "\e61f";
}

.tg-thin-caret-right:before {
  content: "\e620";
}

.tg-thin-plus:before {
  content: "\e621";
}

.tg-thin-paragraph:before {
  content: "\e622";
}

.tg-retailer:before {
  content: "\e623";
}

.tg-ecommerce:before {
  content: "\e624";
}

.tg-wholesale:before {
  content: "\e625";
}

.tg-linked:before {
  content: "\e626";
}

.tg-unlinked:before {
  content: "\e627";
}

.tg-broken-link:before {
  content: "\e628";
}

.tg-return:before {
  content: "\e629"
}

.tg-arrow-left:before {
  content: "\e62a"
}

.tg-arrow-right:before {
  content: "\e62b"
}

.tg-exclamation:before {
  content: "\e62c"
}

.tg-question:before {
  content: "\e62d"
}

.tg-plus:before {
  content: "\e62e"
}

.tg-minus:before {
  content: "\e62f"
}

.tg-thin-minus:before {
  content: "\e630"
}

.tg-star:before {
  content: "\e631"
}

.tg-mail-inverse:before {
  content: "\e632"
}

.tg-mail:before {
  content: "\e633"
}

.tg-trash-inverse:before {
  content: "\e634"
}

.tg-trash:before {
  content: "\e635"
}

.tg-comment:before {
  content: "\e636"
}

.tg-comment-alert:before {
  content: "\e637"
}

.tg-moko:before {
  content: "\e638"
}

.tg-spinner:before {
  content: "\e639"
}

.tg-pencil-inverse:before {
  content: "\e63a"
}

.tg-dollar-inverse:before {
  content: "\e63b"
}

.tg-percent-inverse:before {
  content: "\e63c"
}
