/* ========================================================================= */
/*   TABLES
/* ========================================================================= */

// Elements

%table-row {
  font-size: 12px;
  color: #666;
  border-top:    1px solid $grey-border;
  border-bottom: 1px solid $grey-border;
  margin-bottom: -1px;
}

.table-header {
  @include linear-gradient(#f6f6f6, #f0f0f0);
  @extend %table-row;
  font-size: 11px;
  line-height: 33px;
  text-shadow: 0 1px 0 #fcfcfc;
  color: #999;
  height: 33px;
}

.table-footer {
  @extend %table-row;
  background: #f9f9f9;
  line-height: 29px;
  height: 29px;
  text-align: center;
}

.table-row {
  @extend %table-row;
  line-height: 37px;
  height: 37px;
}

.table-cell {
  @extend %truncate;
  text-align: center;
  float: left;
  height: 100%;
  padding: 0 10px;
}

// Padded table

.table_padded %table-row {
  padding-left: 15px;
  padding-right: 15px;
}

// Inset table

.table_inset {
  border: 1px solid $grey-border;
  border-radius: 3px;
  %table-row:first-child {
    border-top: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  %table-row:last-child {
    border-bottom: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 0;
  }
}

// Form table

.table_form .table-row .table-cell,
.table-row_form .table-cell {
  position: relative;
  border-right: 1px solid $grey-border;
  &:last-of-type {
    border-right: none;
  }
}

.table_form,
.table-row_form {
  input[type="text"],
  input[type="number"],
  .field {
    @extend %cover;
    text-align: inherit;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 transparent;
    }
  }

  .field .error {
    @extend %cover;
    height: auto;
    margin: -1px;
    .error-message {
      border-radius: 0;
      width: 100%;
      height: 100%;
      padding-top: 0;
    }
  }
}

// Table links

.table-header > a {
  color: inherit;
  &:hover {
    color: #777;
    text-decoration: underline;
  }
  .fa {
    margin-left: 5px;
  }
}

a.table-row {
  display: block;
  &:hover {
    color: #444;
    background: $green-bg-h;
  }
}

.table-footer > a,
.table-footer > button {
  float: left;
  width: 100%;
  .fa {
    margin-right: 5px;
  }
}

.table-footer > button {
  @extend %text-link;
}

// Table controls

.table-cell > label {
  width: 100%;
  cursor: pointer;
}

.table-header {
  .button {
    height: 23px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin-top: 4px;
  }
  input[type="checkbox"] {
    margin-top: 10px;
  }
}

.table-row {
  .button {
    height: 25px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-top: 5px;
    &.button_small {
      border-radius: 4px;
      height: 19px;
      padding: 0 6px;
      margin-top: 8px;
    }
  }
}
.table-row, .form .table-row {
  input[type="checkbox"] {
    margin-top: 12px;
  }
}

/* ========================================================================== */
/*   TABLE SELECT ALL / ROW COMPONENTS
/* ========================================================================== */

.table .cell_select {
  width: 50px;
  label {
    line-height: 1;
    padding: 12px 9px;
  }
  input[type="checkbox"] {
    margin: 0;
  }
}

.table-header .cell_select label {
  padding-top: 10px;
}
