/* ========================================================================= */
/*   TOOLTIPS
/* ========================================================================== */

// Should be .tooltip but clashes with Bootstrap
// TODO: Change if Bootstrap is removed
.tooltip-block {
  text-align: center;
  white-space: nowrap;
  height: 0;
}

.tooltip-text {
  @include transition(opacity 0.1s ease-in 0.15s, visibility 1ms 0.25s);
  @include transform(translateY(-100%));
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: $font-base;
  font-size: 11px;
  line-height: 18px;
  white-space: normal;
  background: #000;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-left: -200px;
  margin-right: -200px;
  max-width: 200px;
  padding: 4px 9px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;

  // Tooltip arrow

  &:before {
    @extend .fa;
    @extend .fa-caret-down;
    font-size: 20px;
    line-height: 3px !important;
    color: #000;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 12px;
    margin-left: -6px;
    pointer-events: none;
  }
}

// Placement variations

.tooltip_bottom + div > .tooltip-text {
  @include transform(none);
  &:before {
    @include transform(rotateX(180deg));
    top: -4px;
  }
}

// Element that triggers the tooltip

%tooltip {
  cursor: help;
  &:hover  + div > .tooltip-text,
  &.active + div > .tooltip-text,
  + .tooltip-text:hover {
    @include transition(opacity 0.1s ease-out, visibility 1ms);
    visibility: visible;
    opacity: 0.85;
  }
}

.tooltip_icon {
  @extend %tooltip;
  text-align: center;
  color: #999;
  width: 14px;
  + div {
    // Fix overflow hidden parents
    position: absolute !important;
    display: inline;
    margin-top: -5px;
    margin-left: -7px;
  }
  &.tooltip_bottom + div {
    margin-top: 26px;
  }
}
