/* ========================================================================= */
/*   BUTTONS
/* ========================================================================= */

.button {
  @include user-select(none);
  @include linear-gradient(#f1f1f1, #e2e2e2);
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  color: #555;
  vertical-align: middle;
  text-shadow: 0 1px 0 rgba(#fff, 0.5);
  box-shadow: inset 0 1px 0 #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
  float: left;
  height: 29px;
  padding: 5px 10px 4px;
  outline: 0;
  outline: none;
  cursor: pointer;
  &:hover {
    @include linear-gradient(#f4f4f4, #e5e5e5);
    text-decoration: none;
    color: #555;
  }
  &:active {
    @include linear-gradient(#dadada, #e4e4e4);
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    border-color: #b9b9b9;
    box-shadow: inset 0 1px 0 rgba(#000, 0.05);
  }
  > i {
    margin-right: 2px;
  }
}

.button_primary {
  @include linear-gradient($green, $green-dark);
  color: #fff;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(#000, 0.15);
  box-shadow: inset 0 1px 0 rgba(#fff, 0.5);
  border-color: darken($green, 15%);
  padding: 5px 10px 4px;
  &:hover {
    @include linear-gradient($green, darken($green, 5%));
    color: #fff;
  }
  &:active {
    @include linear-gradient($green-dark, darken($green, 6%));
    color: #fff;
    text-shadow: 0 -1px 0 rgba(#000, 0.15);
    box-shadow: inset 0 1px 0 rgba(#000, 0.05);
    border-color: darken($green, 20%);
  }
}

.button_large {
  height: 35px;
  padding: 8px 15px 7px;
}

/* ========================================================================= */
/*   BUTTON GROUPS
/* ========================================================================= */

.button-group {
  float: left;
  vertical-align: middle;
  > .button {
    border-radius: 0;
    border-right-width: 0;
    + .button {
      margin-left: 0;
    }
  }
  > .button:first-of-type {
    border-radius: 3px 0 0 3px;
  }
  > .button:last-of-type {
    border-radius: 0 3px 3px 0;
    border-right-width: 1px;
  }
}

/* ========================================================================= */
/*   INTERACTION
/* ========================================================================= */

// Spacing between buttons & groups

.button, .button-group {
  + .button, + .button-group {
    margin-left: 10px;
  }
}
