/* ========================================================================= */
/*   BUTTONS
/* ========================================================================= */

.button {
  @include user-select(none);
  @include linear-gradient(#f1f1f1, #e2e2e2);
  @extend %spaced-element;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  color: #555;
  vertical-align: middle;
  text-shadow: 0 1px 0 rgba(#fff, 0.5);
  box-shadow: inset 0 1px 0 #fafafa;
  border: 1px solid $grey-border;
  border-radius: 3px;
  float: left;
  height: 29px;
  padding: 5px 10px 4px;
  outline: 0;
  outline: none;
  cursor: pointer;

  // Button states

  &:hover {
    @include linear-gradient(#f4f4f4, #e5e5e5);
    text-decoration: none;
    color: #555;
  }
  &:active, &.active {
    @include linear-gradient(#dadada, #e4e4e4);
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    border-color: #b9b9b9;
    box-shadow: inset 0 1px 0 rgba(#000, 0.05);
  }
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
  }
}

// Button variations

.button_primary {
  @include linear-gradient($green, $green-dark);
  color: #fff;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(#000, 0.15);
  box-shadow: inset 0 1px 0 rgba(#fff, 0.5);
  border-color: darken($green, 15%);
  padding: 5px 10px 4px;
  &:hover {
    @include linear-gradient($green, darken($green, 5%));
    color: #fff;
  }
  &:active, &.active {
    @include linear-gradient($green-dark, darken($green, 6%));
    color: #fff;
    text-shadow: 0 -1px 0 rgba(#000, 0.15);
    box-shadow: inset 0 1px 0 rgba(#000, 0.05);
    border-color: darken($green, 20%);
  }
}

// Buttons with icons

.button > i {
  margin-right: 2px;
  &.fa-caret-down {
    margin-left: 2px;
    margin-right: 0;
  }
  &.fa-trash, &.fa-trash-o {
    margin-right: 0;
  }
}

%button_icon i {
  margin-left: 0;
  margin-right: 0;
}
.button.button_icon {
  @extend %button_icon;
}

// Button sizes

.button_large {
  font-size: 14px;
  height: 35px;
  padding: 8px 15px 7px;
}

.button_small {
  height: 24px;
  padding: 2px 8px;
}

/* ========================================================================= */
/*   BUTTON GROUPS
/* ========================================================================= */

.button-group {
  @extend %spaced-element;
  float: left;
  vertical-align: middle;
  > .button {
    border-radius: 0;
    border-right-width: 0;
    & + .button,
    &:not(.right) + .button:not(.right) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  > .button:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  > .button:last-of-type {
    border-right-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

/* ========================================================================= */
/*   INTERACTION
/* ========================================================================= */

// Spacing between buttons & groups

%spaced-element {
  &:not(.right) + &:not(.right) {
    margin-left: 10px;
  }
  &.right + &.right {
    margin-right: 10px;
  }
}
