/* ========================================================================= */
/*   TABLES
/* ========================================================================= */

// Elements

%table-row {
  font-size: 12px;
  color: #666;
  border-top:    1px solid $grey-border;
  border-bottom: 1px solid $grey-border;
  margin-bottom: -1px;
}

.table-header {
  @include linear-gradient(#f6f6f6, #f0f0f0);
  @extend %table-row;
  font-size: 11px;
  line-height: 33px;
  text-shadow: 0 1px 0 #fcfcfc;
  color: #999;
  height: 33px;
}

.table-footer {
  @extend %table-row;
  background: #f9f9f9;
  line-height: 29px;
  height: 29px;
  text-align: center;
}

.table-row {
  @extend %table-row;
  line-height: 37px;
  height: 37px;
}

.table-cell {
  text-align: center;
  float: left;
  height: 100%;
  padding: 0 5px;
}

// Table variations

.table_inset {
  border: 1px solid $grey-border;
  border-radius: 3px;
  %table-row:first-child {
    border-top: none;
    border-radius: 3px 3px 0 0;
  }
  %table-row:last-child {
    border-bottom: none;
    border-radius: 0 0 3px 3px;
    margin-bottom: 0;
  }
}

// Table with links

.table-header > a {
  color: inherit;
  &:hover {
    color: #777;
  }
  > .fa {
    margin-left: 5px;
  }
}

a.table-row {
  display: block;
  &:hover {
    color: #444;
    background: $green-bg-h;
  }
}

.table-footer > a {
  float: left;
  width: 100%;
  .fa {
    margin-right: 5px;
  }
}

// Table with controls

.table-cell > label {
  width: 100%;
  cursor: pointer;
}

.table-header .button {
  height: 23px;
  padding-top: 2px;
  padding-bottom: 1px;
  margin-top: 4px;
}

.table-row .button {
  height: 25px;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-top: 5px;
  &.button_small {
    border-radius: 4px;
    height: 19px;
    padding: 0 6px;
    margin-top: 8px;
  }
}
