/* ========================================================================= */
/*   TOOLTIPS
/* ========================================================================== */

.tooltip-text {
  @include transition(opacity 0.1s ease-in 0.15s, visibility 1ms 0.25s);
  @include transform(translate(-50%, -100%));
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: $font-base;
  font-size: 11px;
  background: #000;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  margin-top: -5px;
  max-width: 200px;
  padding: 5px 9px;
  visibility: hidden;
  opacity: 0;

  // Tooltip arrow

  &:before {
    @extend .fa;
    @extend .fa-caret-down;
    font-size: 20px;
    line-height: 3px;
    color: #000;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 12px;
    margin-left: -6px;
    pointer-events: none;
  }
}

// Placement variations

.tooltip_bottom + .tooltip-text {
  @include transform(translateX(-50%));
  &:before {
    @include transform(rotateX(180deg));
    top: -4px;
  }
}

// Element that triggers a tooltip

%tooltip {
  cursor: help;
  &:hover + .tooltip-text,
  &.active + .tooltip-text,
  + .tooltip-text:hover {
    @include transition(opacity 0.1s ease-out, visibility 1ms);
    visibility: visible;
    opacity: 0.85;
  }
}

.tooltip_icon {
  @extend %tooltip;
  text-align: center;
  color: #999;
  width: 14px;
  + .tooltip-text {
    margin-left: -7px;
  }
  &.tooltip_bottom + .tooltip-text {
    margin-top: 26px;
  }
}
